<!-- <div style="text-align: center;">
    <mat-card>
        <h3>Recruitment Management Dashboard</h3>
        <hr style="margin-bottom: 200px;">
        <div>
            <img alt="sample" src="data:image/png;base64,{{image}}">
             {{image}} 
</div>
<hr>
</mat-card>
</div> -->


<mat-card>


    <div class="employee" *ngFor="let emp of dataSource" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px">
        <div fxFlex>
            <p><label for="">Employee Name</label> : {{emp.employee }}</p>
            <!-- <p><label for="">Mobile</label> : {{emp.mobileNumber}}</p> -->
        </div>
        <div fxFlex>
            <!-- <p><label for="">Gender</label> : {{emp.gender}}</p> -->
            <p><label for="">Position</label> : {{emp.loginType}}</p>
        </div>
        <!-- <div fxFlex>
            <p><label for="">Office Email</label> : {{emp.officeEmailId}}</p>
            <p><label for="">Personal Email</label> : {{emp.personalEmailId}}</p>
        </div> -->
        <!-- <div fxFlex="100">
            <h2>Hi {{emp.employeeName}} !</h2>
        </div> -->
        <!-- <div fxFlex="10">
            <img matListAvatar alt="User" src="data:image/png;base64,{{emp.photoFile_tag}}" height="80px" width="80px"
                style="border-radius: 50%;">
             <embed width="100%" height="100%" src="data:application/pdf;base64,{{doc}}" type="application/pdf" />
        </div> -->
    </div>
    <hr>
    <!-- <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div> -->


    <div id="taskform" style="display: none;">
        <br>

        <button mat-button (click)="cancel()">Return</button>
        <hr>
        <div [hidden]="submitted" style="width:100%;" class="table-responsive">

            <p> {{tasks | json}} </p>
            <form novalidate #clientForm="ngForm" (ngSubmit)="onSubmit()">
                <div>

                    <p>
                        <mat-form-field fxFlex="30">
                            <input matInput [matDatepicker]="datepicker" id="doj" [(ngModel)]="tasks.date" placeholder="Date" name="dob" #dob="ngModel" required>
                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                            </mat-datepicker>
                            <mat-error *ngIf="dob.errors?.required"> Date is required. </mat-error>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field fxFlex="30">
                            <textarea matInput type="text" id="task" [(ngModel)]="tasks.task" placeholder="Task" (keyup)="autoGrowTextZone($event)" required name="task" #task="ngModel">
                            </textarea>
                            <mat-error *ngIf="task.errors?.required"> Task is required. </mat-error>
                        </mat-form-field>
                    </p>

                </div>
                <div>
                    <br>
                    <button mat-button type="submit" [disabled]="clientForm.form.invalid">Schedule</button>
                </div>
            </form>
        </div>

        <div [hidden]="!submitted">
            <h4>Successfully scheduled!</h4>
        </div>
    </div>


    <div class="table-responsive" id="taskTable">
        <br>
        <button mat-button (click)="schedule()">Schedule Task</button>
        <hr>
        <div class="animate">
            <span> 1. Please complete your pending task as soon as possible. Thankyou !</span>
        </div>
        <hr>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col"> Date</th>
                    <!-- <th scope="col"> Time</th> -->
                    <th scope="col"> Task</th>
                    <th scope="col"> Status </th>
                    <th scope="col"> Action </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let tjson of taskJson ; let i=index">
                    <td> {{i+1}} </td>
                    <td> {{tjson.date | date: "longDate"}} </td>
                    <!-- <td> {{tjson.datetime | date: "mediumTime"}} </td> -->
                    <td> {{tjson.task}} </td>
                    <td> {{tjson.status}} </td>
                    <td>
                        <mat-form-field style="font-size: 10px;">
                            <mat-select (selectionChange)="updateStatus($event.value, tjson.id)">
                                <mat-option *ngFor="let action of actions" [value]="action">
                                    <p>{{action}}</p>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </tbody>

        </table>
        <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>
    </div>






    <!-- <div >
        <span class="advanced">A really long text to scroll through</span>
    </div> -->

</mat-card>